.logo {
  margin-left: 20px;
  margin-top: 10px;
  width: 180px;
  height: 60px;
}

.navHorizontal {
  padding: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-right: 40px;
  font-size: 24px;
}