.resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.resultElement {
    display: flex;
    /* justify-content: space-around; */
    width: 250px;
    height: 140px;
    border-radius: 6px;
    background-color: rgb(248, 248, 245);
    align-items: center;
}

.resultIcon {
    margin-left: 30px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 20px;
}

.resultText h4 {
    margin: 0 30px 5px;
    font-size: 22px;
    font-weight: bold;
}

.resultText p {
    margin: 0 30px;
    font-size: 15px;
    color: rgb(111, 110, 110);
}