html,body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

#root,.App {
  height: 100%;
}

.navVerti-container {
  display: flex;
}

.appContainer {
  margin-left: 10%;
  margin-top: 3%;
}

.graphicAll-result {
  display: flex;
}

.graphicRectagle {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  height: 300px;
}
