html,body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

#root,.App {
  height: 100%;
}

.navVerti-container {
  display: flex;
  height: 100%;
}

.appContainer {
  padding: 50px;
  /* display: flex; */
}

.graphicAll-loss {
  display: flex;
  justify-content: space-between;
}

.graphicRectagle {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 800px;
  /* height: 500px; */
}
